<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="cntoplolicon.seasar2assist.startup.Seasar2AssistantStartup">
      </startup>
   </extension>
   <extension
         id="cntoplolicon.seasar2assist.marker.scopestring"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.jdt.core.problem">
      </super>
      <attribute
            name="cntoplolicon.seasar2assist.marker.attr.clearstart">
      </attribute>
      <attribute
            name="cntoplolicon.seasar2assist.marker.attr.clearend">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="cntoplolicon.seasar2assist.checker.ScopeStringChecker"
            markerType="cntoplolicon.seasar2assist.marker.scopestring">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="cntoplolicon.seasar2assist.preference.Seasar2AssistantPropertyPage"
            id="seasar2assist.propertyPage"
            name="Seasar2 Assistant">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.jdt.core.IJavaProject">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="cntoplolicon.seasar2assist.command.SwitchToDaoHandler"
            id="cntoplolicon.seasar2assist.switchToDao"
            name="SwitchToS2hibernateDao">
      </command>
      <command
            defaultHandler="cntoplolicon.seasar2assist.command.InputELTemplateHandler"
            id="cntoplolicon.seasar2assist.inputELTemplate"
            name="InputElExpressionTemplate">
      </command>
      <command
            defaultHandler="cntoplolicon.seasar2assist.command.GenerateDaoArgHqlHandler"
            id="cntoplolicon.seasar2assist.generateDaoArgHql"
            name="GenerateDaoArgsHql">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="cntoplolicon.seasar2assist.switchToDao"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+1">
      </key>
      <key
            commandId="cntoplolicon.seasar2assist.inputELTemplate"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+2">
      </key>
      <key
            commandId="cntoplolicon.seasar2assist.generateDaoArgHql"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+3">
      </key>
   </extension>

</plugin>
